@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

body {
  padding: 0;
  background: var(--color-pink);
}

h2 {
  color: var(--color-gray);
  font-size: var(--text-size-large);
}
.card-span {
  font-weight: bolder;
  font-size: var(--text-size-small);
  font-family: "Montserrat";
}
.card-item {
  color: var(--color-gray);
  font-family: "Montserrat";
  line-height: 200%;
  text-align: start;
}
.card-word {
  background-color: var(--color-white);
  width: 1000px;
  height: 100px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3.5fr 1.5fr 3fr;
  grid-template-rows: 1fr;
  margin: 5px;
  border-radius: 10px;
  padding: 0px 30px;
  justify-content: left;
  gap: 20px;
}
.card-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.selected {
  background-color: rgb(253, 222, 222);
}

.cardSaveButton {
  height: var(--min-tap-target-height);
  width: var(--min-tap-target-width);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cardEditButton {
  height: var(--min-tap-target-height);
  width: var(--min-tap-target-width);
  border: none;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
}



.cardDeleteButton {
  height: var(--min-tap-target-height);
  width: var(--min-tap-target-width);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.cardCancelButton {
  height: var(--min-tap-target-height);
  width: var(--min-tap-target-width);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.icon {
  width: 40px;
  height: 40px;
}

input {
  font-family: "Montserrat";
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
  font-size: 15px;
  width: 7em;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

input:focus, .cardCancelButton:focus, 
.cardDeleteButton:focus, .cardEditButton:focus,
.cardSaveButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-pinklite);
}

.cardEditButton:active, .cardDeleteButton:active, 
.cardSaveButton:active, .cardCancelButton:active {
  box-shadow: 2px 2px 5px var(--color-pink);
}

.error {
  border: 1px solid red;
}