@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;900&display=swap");

.gameMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.gameLearn {
  align-self: center;
  margin-top: 10px;
  background-color: var(--color-pinklite);
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--text-size-medium);
  font-weight: 700;
  font-family: "Montserrat";
  color: var(--color-pink);
}
.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.game-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 400px;
  margin: 50px 100px;
  align-items: center;
  background-color: var(--color-graylite);
  gap: 30px;
  border-radius: 10px;
}
.game-english {
  margin-top: 60px;
}
.game-span {
  text-align: center;
  font-size: var(--text-size-medium);
  color: var(--color-gray);
  font-weight: 700;
}

.game-translate {
  text-align: center;
  font-size: var(--text-size-medium);
  font-weight: 700;
  cursor: pointer;
  font-family: "Montserrat";
  color: var(--color-pink);
  padding: 20px;
}

.game-button {
  border: none;
  border-radius: 15px;
  color: var(--color-gray);
  font-size: var(--text-size-large);
  margin: 1rem auto;
  padding: 0.8rem 2rem;
  text-align: center;
}
.game-button:focus {
  outline: none;
}

.game-prev {
  background-color: var(--color-pinklite);
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin-left: 300px;
  cursor: pointer;
  font-size: var(--text-size-medium);
  font-weight: 700;
  font-family: "Montserrat";
  color: var(--color-pink);
}
.game-buttonName {
  background-color: var(--color-pinklite);
  padding: 20px;
  border-radius: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  cursor: pointer;
  border: none;
  color: var(--color-gray);
  font-size: var(--text-size-medium);
}
.gameLearn:hover,
.game-prev:hover,
.game-next:hover,
.game-buttonName:hover {
  background-color: var(--color-white);
}

.gameLearn:focus,
.game-prev:focus,
.game-next:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-white);
}
.game-buttonName:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-white);
}
.game-buttonName:active {
  box-shadow: 2px 2px 5px var(--color-pink);
}
.gameLearn:active,
.game-prev:active,
.game-next:active {
  box-shadow: 2px 2px 5px var(--color-pinklite);
}
.game-next {
  background-color: var(--color-pinklite);
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin-right: 300px;
  cursor: pointer;
  font-size: var(--text-size-medium);
  font-weight: 700;
  font-family: "Montserrat";
  color: var(--color-pink);
}

.translation {
  color: --color-gray;
  font-size: large;
  background: none;
  margin: 0;
  padding: 0;
}
.game-counter {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: var(--text-size-medium);
  color: var(--color-pink);
  font-weight: 700;
}
