@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;900&display=swap");
  
  
  body {
    padding: 0;
    background: rgb(250, 151, 151);
  }
  
  h2 {
    /* text-align: center; */
    color: rgb(154, 154, 154);
    /* text-transform: uppercase; */
    /* line-height: 100%; */
  }
  span {
    font-weight:bolder;
    font-size: 14px;
    font-family: "Montserrat";
  }
  p {
    color: rgb(154, 154, 154);
    font-family: "Montserrat";
    line-height: 200%;
    text-align: start;
  }
  .card-word {
    background-color: white;
    width: 1000px;
    display: grid;
    grid-template-columns: 3fr 2fr 6fr 1.5fr 2.5fr;
    grid-template-rows: 1fr;
    margin: 5px;
    border-radius: 10px;
    padding: 0px 30px;
    justify-content: left;
    gap: 20px;
  }
  .card-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: baseline;
    margin-top: 16px;
  }
  .card-button {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 10px;
  }

  