@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;900&display=swap");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--color-white);
  height: 100px;
  width: 100%;
}

.logo {
  width: 60px;
  height: 45px;
  padding-right: 20px;
}
.logoBlock {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  font-weight: 800;
  color: var(--color-pink);
  align-content: center;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menuList {
  display: flex;
  flex-direction: row;
  color: var(--color-pink);
}
a {
  text-decoration: none;
  color: var(--color-pink);
}
a:hover {
  border-top: 3px solid rgb(253, 222, 222);
  border-bottom: 3px solid rgb(253, 222, 222);
  padding: 6px 0;
}

.menuItem {
  list-style-type: none;
  padding-left: 20px;
  font-size: var(--text-size-medium);
  /* color: var(--color-pink); */
  font-weight: 700;
  text-decoration: none;
}
