@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;900&display=swap");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--color-white);
  height: 100px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  width: 60px;
  height: 45px;
  padding-right: 20px;
}
.logoBlock {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  font-weight: 800;
  color: var(--color-pink);
  align-content: center;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menuList {
  display: flex;
  flex-direction: row;
  color: var(--color-pink);
}
.menuA, .logoA {
  text-decoration: none;
  color: var(--color-pink);
}
.menuA:hover {
  border-top: 3px solid var(--color-pinklite);
  border-bottom: 3px solid var(--color-pinklite);
  padding: 6px 0;
}

.menuA:active {
  transform: scale(0.5);
}
.logoA:focus, .menuA:focus {
  outline: none;
  border-bottom: 3px solid var(--color-pinklite);           
}
.menuItem {
  list-style-type: none;
  padding-left: 20px;
  font-size: var(--text-size-medium);
  font-weight: 700;
  text-decoration: none;
}
