.divNoMatch {
    display: flex;
    background-color: white;
    width: 900px;
    height: 600px;
    margin: 150px auto;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

.imgNoMatch {
    height: 300px;
}