@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;900&display=swap");

.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  height: 50px;
  justify-content: center;
}

.footerText {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: var(--color-pink);
}
